<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iServerAdmin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DEE3EE351B4B15D600BF06F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEE3EE4B1B4B15D600BF06F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEE3EE561B4B15D600BF06F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
